<nav class="account-nav">
	<ul>
		<li class="signin-nav-item">
			<span>
				<a href="#" class="ui-link">
					Sign In
				</a>
			</span>
		</li>
		<li class="signout-nav-item is-hidden">
			<span>
				<a href="#" class="ui-link">
					Sign Out
				</a>
			</span>
		</li>
		<li class="account-nav-item is-hidden">
			<span>
				<a href="#" class="ui-link">
					Account
				</a>
			</span>
		</li>			
		<li class="myorders-nav-item">
			<span>
				<a href="#" class="ui-link">
					My Orders
				</a>
			</span>
		</li>						
	</ul>
</nav>
<div id="mobileHeader" class="clearfix">
	<div class="nav">
		<ul>
			<li class="user rounded" style="display: block; visibility: visible;">
				<span id="cart" class="cart">
					<a id="cartLinkIcon" href="#" class="cartlink cartHover noRewrite ui-link">Cart
						<span class="cartQty">(<span class="psuedo-link">&nbsp;</span>)</span>
						<span class="cartSpinner" style="display: none;"></span>
					</a>
				</span>
			</li>
		</ul>
	</div>
</div>