<div class="affiliated-content">
    <ul data-role="listview" data-theme="d">
        <li data-icon="false">
            <div class="affiliate-controls">
                <a href="#" data-inline="true">Change</a>
            </div>

            <a href="#">
                <span class="affiliate-logo">
                    <i class="ui-icon-group"></i>
                </span>
                <span class="affiliate-name">{{affiliateName}}</span>
            </a>
        </li>
    </ul>
</div>

<div class="unaffiliated-content">
    <ul data-role="listview" data-theme="a">
        <li>
            <a href="#">
                <span class="affiliate-placeholder">Shop for the products, customization and prices available for your school.</span>
            </a>
        </li>
    </ul>
</div>